body{
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    -webkit-border-radius: 10px;
    border-radius: 10px;
	background: rgba(255,255,255,0.3);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #26a69a; 
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #26a69a; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.top-bar{
	width: 100%;
	height: 100px;
}

.logo-box{
	width: 300px;
	padding: 20px
}

.logo-name{
	font-weight: 900;
	color: #339999;
	font-size: 40px;
}


.right-buttons{
	float: right;
	display: inline-block;
	width: 500px;
	margin-top: -70px;
	margin-right: -190px;
}

.start-over{
	width: 120px;
	height: 40px;
	color: #ef5350;
	font-size: 16px;
	font-weight: 400;
	background: #fefefe;
	border: 2px solid #ef5350;
	border-radius: 50px;
	margin-right: 30px;
}

.start-over:hover{
	color: #e0f2f1;
	background: #ef5350;
}

.logout{
	width: 120px;
	height: 40px;
	color: #e0f2f1;
	font-size: 16px;
	font-weight: 400;
	background: #339999;
	border: 1px solid #339999;
	border-radius: 50px;
	margin-right: 30px;
}

.step-block{
	width: 900px;
	margin: 0 auto;
	height: 160px;
}

.step-box{
	display: inline-block;	
	float: left;
	padding: 30px;
}

.step-box p {
	color: #339999;
	font-weight: 400;
}

.step{
	font-weight: 900;
	border: #339999 1px solid;
	padding: 10px 15px;
	text-align: center;
	border-radius: 200px;
	width: 40px;
	margin: 0 auto;
}

.unfilled-step{
	background: #fefefe;
	color: #339999;
}

.filled-step{
	background: #339999;
	color: #fefefe;
}

.line{
	display: inline-block;	
	float: left;
	margin-top: 50px;
	width: 100px;
	height: 0px;
	border: 1px solid #339999;
}

.upload-window{
	width: 800px;
	margin: 0 auto;
}

.upload-box{
	background: #fefefe;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	margin-bottom: 20px;
}

.select-file-button, .pred-feat-submit{
	font-family: 'Lato', sans-serif;
	width: 100px;
	background: #339999;
	color: #fefefe;
	font-size: 16px;
	border: 1px solid #339999;
	border-radius : 30px;
	padding: 7px 0;
	margin: 0 auto;
}

.progress{
	background: #339999;
}

.uploaded-text{
	width: 100%;
	font-size: 20px;
	text-align: center;
	color: #339999;
}

.next-button{
	font-family: 'Lato', sans-serif;
	width: 100%;
	background: #339999;
	color: #fefefe;
	font-size: 20px;
	border: 1px solid #339999;
	border-radius : 30px;
	padding: 15px 0;
}

.next-button:disabled{
	background: rgba(51, 153, 153, 0.5);
	border: 1px solid rgba(51, 153, 153, 0.4);
}

.feat-select-window, .pred-choice-window{
	width: 800px;
	margin: 0 auto;
}

.feat-select{
	height: 300px;
	background: #f2f2f2;
	margin-bottom : 30px;
	border-radius: 10px;
	overflow: scroll;
	overflow-x: hidden;
	border: 1px solid #e0f2f1;
}

.progress-holder{
	background: #fefefe;
}

.feature-name-box{
	background: #339999;
	border-radius: 0 0 10px 10px;
	padding: 10px 0 10px 10px;
	text-align: left;
	color: #fefefe;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
	font-size: 18px;
}

.feature-box{
	margin: 40px 0 0 40px;
	background: #fefefe;
	border-radius: 10px;
	padding: 0;
	position: relative;
}

.selected{
	background: url('../img/selected.png') no-repeat;
	width: 35px;
	height: 35px;
	background-size: contain;
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.unselected{
	background: url('../img/unselected.png') no-repeat;
	width: 35px;
	height: 35px;
	background-size: contain;
	position: absolute;
	right: 5px;
	bottom: 5px;	
}

.finish-window{
	width: 800px;
	margin: 0 auto;
}

.accuracy-text{
	font-size: 22px;
	font-weight: 900;
	text-align: center;
	padding-top: 40px;
}


.pred-choice-box{
	padding: 20px 0;
}

.pred-feat-select{
	padding: 5px;
	border-radius: 3px;
	border: 2px solid #339999;
	background: #fefefe;
}